<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}!!
  </h1>
</div>
<div id="main" style="max-width:500px; position:relative; margin:auto;">
  <input class="form-control" type="text" placeholder="User Name" #name>
  <button (click)="addUser(name.value);" style="margin-top:5px;">Add User</button>
</div>
<br>
<div style="max-width:500px; position:relative; margin:auto;">
  <table *ngIf="hasUsers" class="table table-striped">
    <tr>
      <th>Name</th>
    </tr>
    <tr *ngFor="let user of getUserList()">
      <td>{{user}}</td>
    </tr>
  </table>
</div>

